@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid red;
  max-width: 1440px;
  min-width: 310px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
}

/*PRIMARY COLORS*/
/*NEUTRAL COLORS*/
header {
  width: 80%;
  margin: 0 auto;
}

h2, h3, h4 {
  /*font-size: 3.5rem;*/
  color: #242d52;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

.header-container {
  width: 100%;
  background: url("../images/bg-tablet-pattern.svg") no-repeat;
  /*background-position: 128% -11rem;    */
  background-position: calc(100% + 170px) calc(100% - 80px);
}

.manage-logo {
  width: 10rem;
}

.manage-logo object {
  max-width: 100%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 1rem;
}

nav ul li a {
  text-decoration: none;
}

.cta-btn {
  width: 10rem;
  max-width: 50%;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 3;
}

.cta-btn a {
  text-decoration: none;
  padding: 1em 2.1rem;
  border-radius: 2rem;
  color: #fafafa;
  background: #f25f3a;
  -webkit-box-shadow: 0px 5px 10px 0.5px rgba(242, 95, 58, 0.5);
          box-shadow: 0px 5px 10px 0.5px rgba(242, 95, 58, 0.5);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.cta-btn:hover a {
  background: rgba(242, 95, 58, 0.7);
}

header p {
  padding: 2.5rem 0;
  color: #9095a7;
  line-height: 1.6;
  width: 22rem;
}

.top-bar {
  /*border: 1px solid green;*/
  /*height: 10rem;*/
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*.manage-logo {
        border: 1px solid black;
    }*/
}

.top-bar .menu-btn {
  /*border: 1px solid red;*/
  width: 2rem;
  height: 1.5rem;
  background: url("../images/icon-hamburger.svg") no-repeat center;
  background-size: contain;
  display: none;
  cursor: pointer;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.top-bar .overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.02)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.4));
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.top-bar .nav a {
  color: #242d52;
  font-weight: 700;
  font-size: 0.8rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.top-bar .nav a:hover {
  color: #9095a7;
}

.top-bar .cta-btn {
  visibility: visible;
}

.hero-section {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section div {
  width: 50%;
}

.hero-section img {
  max-width: 100%;
}

.hero-section p {
  text-align: left;
  margin-left: 0;
}

main {
  position: relative;
  width: 100%;
}

main section {
  margin-top: 7rem;
}

h4 {
  color: #242d52;
}

p {
  color: #9095a7;
  line-height: 1.6;
  width: 80%;
  text-align: center;
  margin: 1rem auto;
}

.features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.features > div {
  width: 50%;
}

.features p {
  line-height: 1.6;
  color: #9095a7;
}

.features .question p {
  text-align: left;
  margin-left: 0;
  margin-top: 2rem;
  width: 60%;
}

.features .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.features h4 {
  display: inline-block;
}

.features ol {
  list-style: none;
}

.features ol li:not(:first-of-type) {
  margin-top: 2rem;
}

.features ol span {
  display: inline-block;
  width: 4.3rem;
  text-align: center;
  background: #f25f3a;
  color: #fafafa;
  padding: 0.7rem 0;
  border-radius: 2rem;
  margin-right: 2rem;
}

.features ol p {
  margin-left: 6.3rem;
  text-align: left;
  margin-top: 1rem;
  width: 78%;
}

main:after {
  position: absolute;
  left: 0;
  top: 18%;
  content: '';
  height: 600px;
  width: 25vw;
  background: url("../images/bg-tablet-pattern.svg") no-repeat;
  background-position: top right;
  z-index: -1;
}

.testimonials {
  text-align: center;
}

.glide {
  margin-top: 2rem;
}

.card {
  background: #fafafa;
  text-align: center;
  margin-top: 5rem;
  height: 13.5rem;
}

.card-image {
  position: relative;
  width: 100%;
  height: 4rem;
}

.background-config, .c1 .card-image::before, .c2 .card-image::before, .c3 .card-image::before, .c4 .card-image::before {
  content: '';
  position: absolute;
  width: 10rem;
  height: 5rem;
  top: -2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.c1 .card-image::before {
  background-image: url("../images/avatar-anisha.png");
}

.c2 .card-image::before {
  background-image: url("../images/avatar-ali.png");
}

.c3 .card-image::before {
  background-image: url("../images/avatar-richard.png");
}

.c4 .card-image::before {
  background-image: url("../images/avatar-shanai.png");
}

.glide__bullets {
  bottom: -2em;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.glide__bullet {
  background-color: #fff;
  border: 1px solid #f25f3a;
}

.glide__bullet:focus {
  outline: none;
  border: none;
}

.glide__bullet:hover, .glide__bullet:focus, .glide__bullet--active {
  /* border: 2px solid white; */
  background-color: #f25f3a;
}

.testimonials .cta-btn {
  margin: 3rem auto 12rem auto;
}

.simplify {
  min-height: 13.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f25f3a url("../images/bg-simplify-section-desktop.svg") no-repeat;
  background-position: calc(100% + 250px) calc(100%);
}

.simplify .inner-content {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.simplify h3 {
  width: 80%;
  color: #fafafa;
}

.simplify .cta-btn {
  margin-right: 0;
  text-align: right;
}

.simplify .cta-btn a {
  background: #fafafa;
  color: #f25f3a;
}

.simplify .cta-btn:hover a {
  color: rgba(242, 95, 58, 0.5);
}

footer {
  width: 100%;
  height: auto;
  background: #1d1e25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.1rem;
  font-size: 0.9rem;
  color: #fafafa;
}

footer .inner-content {
  display: -ms-grid;
  display: grid;
  margin: 3.5rem auto;
  width: 80%;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "manage-logo nav-footer submit-area" "social-icons nav-footer copy-area";
  justify-items: start;
}

footer .inner-content > div, footer .inner-content > nav {
  width: 100%;
}

footer .manage-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: manage-logo;
}

.social-icons {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: social-icons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.social-icons ul {
  list-style: none;
}

.social-icons ul li {
  display: inline-block;
  margin-right: 0.5rem;
  -webkit-filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(56deg) brightness(107%) contrast(100%);
          filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(56deg) brightness(107%) contrast(100%);
}

.social-icons ul li:hover {
  -webkit-filter: invert(43%) sepia(97%) saturate(2332%) hue-rotate(341deg) brightness(105%) contrast(90%);
          filter: invert(43%) sepia(97%) saturate(2332%) hue-rotate(341deg) brightness(105%) contrast(90%);
  opacity: 0.9;
}

.nav-footer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: nav-footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu-nav-footer {
  width: 50%;
  padding: 0;
}

.menu-nav-footer li {
  display: block;
}

.menu-nav-footer li a {
  color: #fafafa;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.menu-nav-footer li a:hover {
  color: #f25f3a;
  opacity: 0.99;
}

.submit-area {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: submit-area;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-area form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submit-area .message {
  width: 90%;
  font-size: 0.7rem;
  font-style: italic;
  color: #f25f3a;
}

.email {
  height: 2.8rem;
  width: 73%;
  border-radius: 3rem;
  padding: 0 1rem;
  border: none;
}

.submit-btn {
  height: 2.8rem;
  width: 25%;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 700;
  background: #f25f3a;
  color: #fafafa;
  border: none;
  border-radius: 2rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.submit-btn:hover {
  cursor: pointer;
  background: #da6e52;
}

.copy-area {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: copy-area;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
  color: #9095a7;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fafafa;
}

.attribution a {
  color: #9095a7;
  text-decoration: none;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.attribution a:hover {
  color: rgba(242, 95, 58, 0.5);
}

@media screen and (max-width: 1240px) {
  header {
    width: 90%;
  }
  .header-container {
    background-position: calc(100% + 250px) calc(100% - 80px);
    background-size: 65%;
  }
}

@media screen and (max-width: 1120px) {
  .header-container {
    background-position: calc(100% + 200px) calc(100% - 90px);
    background-size: 68%;
    /*background-attachment: scroll;*/
  }
}

@media screen and (max-width: 968px) {
  .top-bar .menu-btn {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .top-bar .menu-btn.active {
    background: url("../images/icon-close.svg") no-repeat center;
    background-size: contain;
  }
  .top-bar .overlay.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }
  .top-bar .nav {
    position: fixed;
    top: 10rem;
    left: -50%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
  }
  .top-bar .nav.active {
    width: 90%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    overflow-y: hidden;
    height: 70%;
    visibility: visible;
    opacity: 1;
    background: #fafafa;
    border-radius: 5px;
  }
  .top-bar .nav .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .top-bar .nav .menu-nav li {
    /*border: 1px dashed black;*/
    padding: 0;
  }
  .top-bar .nav .menu-nav li a {
    font-size: 1rem;
  }
  .top-bar .cta-btn {
    display: none;
    visibility: hidden;
  }
  .hero-section {
    /*border: 2px solid pink;*/
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 0;
  }
  .hero-section-txt h2 {
    font-size: 1.8rem;
  }
  .hero-section-txt p {
    max-width: 100%;
  }
  .hero-section-txt .cta-btn {
    display: inline;
  }
  .hero-section-img {
    text-align: center;
  }
  .hero-section-img img {
    max-width: 100%;
  }
  main:after {
    left: -100%;
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .features {
    margin-top: 5rem;
    display: block;
  }
  .features h3 {
    text-align: center;
  }
  .features > div {
    width: 80%;
    margin: 0 auto;
  }
  .features .question {
    text-align: center;
    margin-bottom: 4rem;
  }
  .features .question p {
    margin: 1rem auto 0 auto;
    width: 60%;
    text-align: center;
  }
  .features .features-list {
    margin-top: 2rem;
  }
  .features .title-wrapper {
    position: relative;
    overflow: hidden;
  }
  .features .title-wrapper:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 2rem;
    background: #ffefeb;
    z-index: -2;
  }
  .features ol span {
    width: 6rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .features h4 {
    width: 100%;
  }
  .testimonials {
    width: 90%;
    margin: 7rem auto 0 auto;
  }
  .testimonials .cta-btn {
    border: 1px solid blue;
    margin: 6rem auto;
  }
  .card {
    height: 15rem;
  }
  .glide__bullets {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  .simplify .inner-content {
    display: block;
  }
  .simplify h3 {
    margin: 3rem auto;
    text-align: center;
  }
  .simplify .cta-btn {
    margin: 3rem auto;
    text-align: center;
  }
  .simplify .cta-btn a {
    background: #fafafa;
    color: #f25f3a;
  }
  footer .inner-content {
    display: -ms-grid;
    display: grid;
    height: auto;
    -ms-grid-rows: 1fr (0.5fr)[3];
        grid-template-rows: 1fr repeat(3, 0.5fr);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "submit-area submit-area"  "nav-footer social-icons"  "nav-footer manage-logo" "copy-area copy-area";
  }
  footer .manage-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .menu-nav-footer {
    width: auto;
  }
  .social-icons {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .copy-area {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 700px) {
  .header-container {
    background-position: calc(100% + 220px) calc(100% - 150px);
    background-size: 75%;
    /*background-attachment: scroll;*/
  }
}

@media screen and (max-width: 570px) {
  .header-container {
    background-position: calc(100% + 100px) calc(100% - 250px);
    background-size: 65%;
    /*background-attachment: scroll;*/
  }
}

@media screen and (max-width: 500px) {
  .header-container {
    background-position: calc(100% + 170px) calc(100% - 350px);
    background-size: 75%;
    /*background-attachment: scroll;*/
  }
  footer .inner-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3] (0.5fr)[2];
        grid-template-rows: repeat(3, 1fr) repeat(2, 0.5fr);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "submit-area" "nav-footer" "social-icons" "manage-logo" "copy-area";
  }
  footer .manage-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .social-icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .social-icons ul img {
    width: 160%;
  }
  .copy-area {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  body {
    width: 100%;
    margin: 0;
  }
  main {
    width: 100%;
    margin: 0;
  }
  .header-container {
    background-position: right -150px top -100px;
    background-size: 125%;
  }
  .top-bar {
    padding: 1rem 0;
  }
  .top-bar .nav {
    top: 6.5rem;
    left: -50%;
  }
  .top-bar .nav.active {
    width: 85%;
    left: 42.5%;
    -webkit-transform: translateX(-42.5%);
            transform: translateX(-42.5%);
    height: 18rem;
  }
  .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-section > div {
    width: 100%;
  }
  .hero-section-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .hero-section-txt {
    text-align: center;
  }
  .hero-section-txt h2 {
    line-height: 1.25;
    font-size: 2.5rem;
    text-align: center;
  }
  .hero-section-txt p {
    width: 90%;
    margin: 0.5rem auto 2rem auto;
    padding: 0;
    text-align: left;
    line-height: 1.8;
  }
  .hero-section-txt .cta-btn {
    margin-top: 1.5rem;
    text-align: center;
  }
  main .cta-btn {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  main:before {
    content: '';
    position: absolute;
    right: 0;
    top: -14%;
    height: 300px;
    width: 100vw;
    background: url("../images/bg-tablet-pattern.svg") no-repeat;
    background-position: calc(100% + 180px) calc(100% - 35px);
    background-size: 85%;
    z-index: -1;
  }
  .features {
    font-size: 0.9rem;
    width: 100%;
  }
  .features h3 {
    margin: auto;
    padding: 0;
    width: 90%;
    line-height: 1.4;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
  }
  .features > div {
    width: 100%;
  }
  .features p {
    line-height: 2;
  }
  .features .question {
    margin: 6rem 0 3rem 0;
  }
  .features .question p {
    width: 80%;
    margin: 1.5rem auto 0 auto;
    text-align: center;
  }
  .features ol p {
    width: 100%;
    text-align: left;
    margin-left: 0.5rem;
  }
  h4 {
    font-weight: 800;
    font-size: 1rem;
  }
  .testimonials {
    margin-top: 4rem;
  }
  .testimonials h3 {
    font-size: 2rem;
    font-weight: 800;
  }
  .testimonials p {
    font-size: 0.9rem;
  }
  .testimonials .cta-btn {
    margin: 5rem auto 3rem auto;
  }
  .simplify {
    margin-top: 3rem;
  }
  .simplify .inner-content {
    width: 90%;
  }
  .simplify h3 {
    margin-top: 6rem;
    width: 100%;
    text-align: center;
  }
  .simplify .cta-btn {
    margin-bottom: 5.5rem;
  }
  footer .inner-content {
    width: 95%;
    margin-top: 0;
  }
  footer .submit-area form {
    width: 95%;
    margin: 0 auto;
  }
  footer .social-icons ul {
    width: 85%;
  }
}
/*# sourceMappingURL=main.css.map */