@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid red;
  max-width: 1440px;
  min-width: 250px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
}

/*PRIMARY COLORS*/
/*NEUTRAL COLORS*/
header, main, footer {
  width: 80%;
  margin: 0 auto;
}

h2, h3 {
  font-size: 3.5rem;
  color: #242d52;
}

.header-container {
  border: 1px solid black;
  width: 100%;
  /*height: 90vh;    */
  background: url("../images/bg-tablet-pattern.svg") no-repeat 128% -11rem;
  background-size: 58%;
  /*background-attachment: fixed;    */
  /*@media screen and(max-width: $small-tablet) {
        background-position: 110% -2rem;
        
    }*/
}

.manage-logo {
  width: 10rem;
}

.manage-logo img {
  max-width: 100%;
}

.cta-btn {
  width: 10rem;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 3;
}

.cta-btn a {
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  color: #fafafa;
  background: #f25f3a;
  -webkit-box-shadow: 0px 5px 10px 0.5px rgba(242, 95, 58, 0.5);
          box-shadow: 0px 5px 10px 0.5px rgba(242, 95, 58, 0.5);
}

footer {
  border: 1px solid yellow;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

header {
  border: 1px solid green;
}

.top-bar {
  /*border: 1px solid green;*/
  /*height: 10rem;*/
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*.manage-logo {
        border: 1px solid black;
    }*/
}

.top-bar .menu-btn {
  border: 1px solid red;
  width: 2rem;
  height: 1.5rem;
  background: url("../images/icon-hamburger.svg") no-repeat center;
  background-size: contain;
  display: none;
  cursor: pointer;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}

.top-bar .nav {
  /*border: 1px solid blue;        */
  /*width: 50%;*/
  /*@media screen and (max-width: $small-tablet){*/
  /* }*/
}

.top-bar .nav .menu-nav {
  list-style: none;
}

.top-bar .nav .menu-nav li {
  display: inline-block;
  padding: 0 1rem;
}

.top-bar .nav .menu-nav li a {
  text-decoration: none;
  color: #242d52;
  font-weight: 700;
  font-size: 0.8rem;
}

.top-bar .cta-btn {
  visibility: visible;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section div {
  width: 50%;
}

.hero-section img {
  max-width: 100%;
}

@media screen and (max-width: 1140px) {
  header, main, footer {
    width: 90%;
  }
}

@media screen and (max-width: 968px) {
  .header-container {
    background-position: right -150px top -100px;
    background-size: 70%;
    /*background-attachment: scroll;*/
  }
  .top-bar .menu-btn {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .top-bar .menu-btn.active {
    background: url("../images/icon-close.svg") no-repeat center;
    background-size: contain;
  }
  .top-bar .nav {
    position: fixed;
    top: 12rem;
    left: -50%;
    z-index: 999;
    display: none;
  }
  .top-bar .nav.active {
    left: 2.5%;
    right: 2.5%;
    width: 95%;
  }
  .top-bar .cta-btn {
    display: none;
    visibility: hidden;
  }
  .hero-section {
    border: 1px dotted pink;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-section div {
    width: 100%;
  }
  .hero-section div.hero-section-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    border: 1px solid black;
  }
  .hero-section div.hero-section-img img {
    border: 1px solid red;
    width: 150%;
  }
  .hero-section div.hero-section-txt h2 {
    line-height: 1.25;
    font-size: 2.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .header-container {
    background-position: right -150px top -100px;
    background-size: 120%;
    /*background-attachment: fixed;*/
  }
  .top-bar {
    padding: 1rem 0;
  }
}
/*# sourceMappingURL=main.css.map */