header {
    width: 80%;
    margin: 0 auto;   
}

h2, h3, h4 {
    /*font-size: 3.5rem;*/
    color: $dark-blue;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

.header-container {
    width: 100%; 
    background: url('../images/bg-tablet-pattern.svg') no-repeat;
    /*background-position: 128% -11rem;    */
    background-position: calc(100% + 170px) calc(100% - 80px);    
    // background-size: max(58%);    
}

.manage-logo {    
    width: 10rem;

    object {        
        max-width: 100%;
    }
}

nav { 
    
    ul {
        list-style: none;
        
        li {
            display: inline-block;
            padding: 0 1rem;          

            a {
                text-decoration: none;
                
            }
        }
    }
    
}

.cta-btn {
    width: 10rem;
    max-width: 50%;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 3;

    a{ 
        text-decoration: none;
        padding: 1em 2.1rem;
        border-radius: 2rem;
        color: $very-light-gray;
        background: $bright-red;
        box-shadow: 0px 5px 10px 0.5px $red-shadow;
        
        
    }

    &:hover {
        a {
            background: hsla(12, 88%, 59%, 0.7);
            
        }
    }
}

