@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    
    max-width: 1440px;
    min-width: 310px;
    margin: 0 auto;        
    padding: 0;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    
    
}

@mixin media-sm {
    @media screen and (max-width: 375px) {
        @content;
    }
}

@mixin media-md4 {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin media-md3 {
    @media screen and (max-width: 570px) {
        @content;
    }
}

@mixin media-md2 {
    @media screen and (max-width: 700px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (max-width: 968px) {
        @content;
    }
}

@mixin media-lg2 {
    @media screen and (max-width: 1120px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width: 1240px) {
        @content;
    }
} 

 