header{
    border: 1px solid green;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .manage-logo {
        border: 1px solid black;
    }
    
    .menu-btn {
        border: 1px solid red;
        width: 2rem;
        height: 1.5rem;        
        background: url('../images/icon-hamburger.svg') no-repeat center;
        background-size: contain;
        display: none;
        cursor: pointer;
        padding: 0;        
        opacity: 0;
        visibility: hidden;
        z-index: 4;

        @media screen and (max-width: $small-tablet){
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }

    .nav {
        border: 1px solid blue;
        width: 35%;

        @media screen and (max-width: $full-tablet) {
            width: 50%
        }

        @media screen and (max-width: $small-tablet){            
            position: fixed;             
            top: 12rem;
            left: -50%;
            z-index: 999;
        }

        .menu-nav {
            list-style: none;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $small-tablet){            
                display: block;
            }

            a {
                text-decoration: none;
                color: $dark-blue;
                font-weight: 700;
                font-size: 0.8rem;
            }

            
        }
        
    }

    .cta-btn {
        visibility: visible;
        @media screen and (max-width: $small-tablet){
            display: none;            
            visibility: hidden;
        }
    }
}