@include media-lg{
    header, main, footer {
        width: 90%;
        
    }
}

@include media-md {
    .header-container {               
        background-position: right -150px top -100px;    
        background-size: max(70%);
        /*background-attachment: scroll;*/
    }

    .top-bar {
        
        .menu-btn {
            display: block;
            opacity: 1;
            visibility: visible;

            &.active {
                background: url('../images/icon-close.svg') no-repeat center;
                background-size: contain;
            }
        }

        .nav {
            position: fixed;             
            top: 12rem;
            left: -50%;
            z-index: 999;
            display: none;

            &.active {
                left: 2.5%;
                right: 2.5%;
                width: 95%;
            }
        }

        .cta-btn {
            display: none;
            visibility: hidden;
        }
    }

    .hero-section {
        border: 1px dotted pink;
        display: flex;
        flex-direction: column;
        align-items: center;        
        
        div {
            width: 100%;

            &.hero-section-img {
                order: -1;
                border: 1px solid black;
                    img{
                        border: 1px solid red;
                        width: 150%;
                    }
            }

            &.hero-section-txt {
                
                h2 {
                    line-height: 1.25;
                    font-size: 2.5rem;
                    text-align: center;
                }                
            }
        } 
    }
}

@include media-sm {
    .header-container {               
        background-position: right -150px top -100px;    
        background-size: max(120%);
        /*background-attachment: fixed;*/
    }

    .top-bar {
        padding: 1rem 0;
    }

   
}

