@import './config';
@import './variables';
@import './header';

body {
    border: 1px solid red;
    max-width: 1440px;
    min-width: 250px;
    margin: 0 auto;        
    padding: 0;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    background: url('../images/bg-tablet-pattern.svg') no-repeat 125% -10rem;
}

header, main, footer {
    width: 80%;
    margin: 0 auto;
}

.manage-logo {    
    width: 10rem;

    img {        
        max-width: 100%;
    }
}

.cta-btn {
    width: 10rem;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 3;

    a{ 
        text-decoration: none;
        padding: 0.8rem 2rem;
        border-radius: 2rem;
        color: $very-light-gray;
        background: $bright-red;
        box-shadow: 0px 5px 10px 0.5px $red-shadow;
        
        
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }